In [1]:
from spacy import *
import pandas as pd

In [2]:
from datasets import load_dataset 
# Load the CoNLL-2003 dataset 
dataset = load_dataset("conll2003",trust_remote_code=True) 
# Access the training, validation, and test sets 
train_dataset = pd.DataFrame(dataset['train'])
validation_dataset = pd.DataFrame(dataset['validation'])
test_dataset = pd.DataFrame(dataset['test'])
# Example: Print the first example from the training set

c:\Users\Gabriel\Documents\GitHub\ESILV\Web-Scrapping-project\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
test_dataset

,id,tokens,pos_tags,chunk_tags,ner_tags
0,0,"[SOCCER, -, JAPAN, GET, LUCKY, WIN, ,, CHINA, ...","[21, 8, 22, 37, 22, 22, 6, 22, 15, 12, 21, 7]","[11, 0, 11, 21, 11, 12, 0, 11, 13, 11, 12, 0]","[0, 0, 5, 0, 0, 0, 0, 1, 0, 0, 0, 0]"
1,1,"[Nadim, Ladki]","[22, 22]","[11, 12]","[1, 2]"
2,2,"[AL-AIN, ,, United, Arab, Emirates, 1996-12-06]","[22, 6, 22, 22, 23, 11]","[11, 0, 11, 12, 12, 12]","[5, 0, 5, 6, 6, 0]"
3,3,"[Japan, began, the, defence, of, their, Asian,...","[22, 38, 12, 21, 15, 29, 16, 22, 21, 15, 12, 1...","[11, 21, 11, 12, 13, 11, 12, 12, 12, 13, 11, 1...","[5, 0, 0, 0, 0, 0, 7, 8, 0, 0, 0, 0, 0, 0, 0, ..."
4,4,"[But, China, saw, their, luck, desert, them, i...","[10, 22, 38, 29, 21, 37, 28, 15, 12, 21, 21, 1...","[0, 11, 21, 11, 12, 21, 11, 13, 11, 12, 12, 13...","[0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...
3448,3448,"[That, is, why, this, is, so, emotional, a, ni...","[12, 42, 46, 12, 42, 30, 16, 12, 21, 15, 28, 6...","[11, 21, 3, 11, 21, 1, 2, 11, 12, 13, 11, 0, 0...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0]"
3449,3449,"["", It, was, the, joy, that, we, all, had, ove...","[0, 28, 38, 12, 21, 15, 28, 12, 38, 15, 12, 21...","[0, 11, 21, 11, 12, 17, 11, 11, 21, 13, 11, 12...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3450,3450,"[Charlton, managed, Ireland, for, 93, matches,...","[22, 38, 22, 15, 11, 24, 6, 15, 43, 21, 28, 38...","[11, 21, 11, 13, 11, 12, 0, 13, 11, 12, 11, 21...","[1, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3451,3451,"[He, guided, Ireland, to, two, successive, Wor...","[28, 38, 22, 35, 11, 16, 22, 22, 24, 24, 10, 3...","[11, 21, 11, 21, 11, 12, 12, 12, 12, 12, 0, 13...","[0, 0, 5, 0, 0, 0, 7, 8, 0, 0, 0, 0, 0, 0, 7, ..."
3452,3452,"[The, lanky, former, Leeds, United, defender, ...","[12, 16, 16, 22, 22, 21, 38, 30, 37, 29, 22, 2...","[11, 12, 12, 12, 12, 12, 21, 22, 22, 11, 12, 1...","[0, 0, 0, 3, 4, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, ..."

In [18]:
test_dataset.tokens[6]

['Oleg',
 'Shatskiku',
 'made',
 'sure',
 'of',
 'the',
 'win',
 'in',
 'injury',
 'time',
 ',',
 'hitting',
 'an',
 'unstoppable',
 'left',
 'foot',
 'shot',
 'from',
 'just',
 'outside',
 'the',
 'area',
 '.']

In [3]:
type(validation_dataset)

pandas.core.frame.DataFrame

In [9]:
from web_project_pt1.preprocessing import TextProcessor

In [11]:
pre_processor=TextProcessor(train_dataset,"tokens")

In [15]:
dataset_train_processed=pre_processor.preprocess_text_column()

In [17]:
dataset_train_processed

,id,tokens,pos_tags,chunk_tags,ner_tags,clean_text,lemmatized_tokens
0,0,"[eu, rejects, german, call, to, boycott, briti...","[22, 42, 16, 21, 35, 37, 16, 21, 7]","[11, 21, 11, 12, 21, 22, 11, 12, 0]","[3, 0, 7, 0, 0, 0, 7, 0, 0]",eu rejects german call to boycott british lamb,"[eu, reject, german, boycott, british, lamb]"
1,1,"[peter, blackburn]","[22, 22]","[11, 12]","[1, 2]",peter blackburn,"[peter, blackburn]"
2,2,"[brussels, 19960822]","[22, 11]","[11, 12]","[5, 0]",brussels 19960822,"[brussels, 19960822]"
3,3,"[the, european, commission, said, on, thursday...","[12, 22, 22, 38, 15, 22, 28, 38, 15, 16, 21, 3...","[11, 12, 12, 21, 13, 11, 11, 21, 13, 11, 12, 1...","[0, 3, 4, 0, 0, 0, 0, 0, 0, 7, 0, 0, 0, 0, 0, ...",the european commission said on thursday it di...,"[european, commission, say, thursday, disagree..."
4,4,"[germany, s, representative, to, the, european...","[22, 27, 21, 35, 12, 22, 22, 27, 16, 21, 22, 2...","[11, 11, 12, 13, 11, 12, 12, 11, 12, 12, 12, 1...","[5, 0, 0, 0, 0, 3, 4, 0, 0, 0, 1, 2, 0, 0, 0, ...",germany s representative to the european union...,"[germany, s, representative, european, union, ..."
...,...,...,...,...,...,...,...
14036,14036,"[on, friday]","[15, 22, 8]","[13, 11, 0]","[0, 0, 0]",on friday,[friday]
14037,14037,"[division, two]","[21, 11]","[11, 12]","[0, 0]",division two,[division]
14038,14038,"[plymouth, 2, preston, 1]","[21, 11, 22, 11]","[11, 12, 12, 12]","[3, 0, 3, 0]",plymouth 2 preston 1,"[plymouth, 2, preston, 1]"
14039,14039,"[division, three]","[21, 11]","[11, 12]","[0, 0]",division three,[division]
14040,14040,"[swansea, 1, lincoln, 2]","[21, 11, 22, 11]","[11, 12, 12, 12]","[3, 0, 3, 0]",swansea 1 lincoln 2,"[swansea, 1, lincoln, 2]"