In [1]:
from spacy import *
import pandas as pd

In [2]:
from datasets import load_dataset 
# Load the CoNLL-2003 dataset 
dataset = load_dataset("conll2003",trust_remote_code=True) 
# Access the training, validation, and test sets 
train_dataset = pd.DataFrame(dataset['train'])
validation_dataset = pd.DataFrame(dataset['validation'])
test_dataset = pd.DataFrame(dataset['test'])
# Example: Print the first example from the training set

c:\Users\Gabriel\Documents\GitHub\ESILV\Web-Scrapping-project\.venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
type(validation_dataset)

pandas.core.frame.DataFrame

In [4]:
validation_dataset

,id,tokens,pos_tags,chunk_tags,ner_tags
0,0,"[CRICKET, -, LEICESTERSHIRE, TAKE, OVER, AT, T...","[22, 8, 22, 22, 15, 22, 22, 22, 22, 21, 7]","[11, 0, 11, 12, 13, 11, 12, 12, 12, 12, 0]","[0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0]"
1,1,"[LONDON, 1996-08-30]","[22, 11]","[11, 12]","[5, 0]"
2,2,"[West, Indian, all-rounder, Phil, Simmons, too...","[22, 22, 21, 22, 22, 38, 11, 15, 11, 15, 22, 1...","[11, 12, 12, 12, 12, 21, 11, 13, 11, 13, 11, 1...","[7, 8, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 3, 0, 3, ..."
3,3,"[Their, stay, on, top, ,, though, ,, may, be, ...","[29, 21, 15, 21, 6, 30, 6, 20, 37, 16, 15, 21,...","[11, 12, 13, 11, 0, 3, 0, 21, 22, 1, 13, 11, 1...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ..."
4,4,"[After, bowling, Somerset, out, for, 83, on, t...","[15, 39, 22, 33, 15, 11, 15, 12, 21, 21, 15, 2...","[13, 11, 12, 15, 13, 11, 13, 11, 12, 12, 13, 1...","[0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 5, 6, 0, 3, ..."
...,...,...,...,...,...
3245,3245,"[But, the, prices, may, move, in, a, close, ra...","[10, 12, 24, 20, 37, 15, 12, 16, 21, 39, 12, 4...","[0, 11, 12, 21, 22, 13, 11, 12, 12, 13, 11, 12...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
3246,3246,"[Brokers, said, blue, chips, like, IDLC, ,, Ba...","[24, 38, 16, 24, 15, 22, 6, 22, 22, 6, 22, 22,...","[11, 21, 11, 12, 13, 11, 0, 11, 12, 0, 11, 12,...","[0, 0, 0, 0, 0, 3, 0, 3, 4, 0, 3, 4, 0, 3, 4, ..."
3247,3247,"[They, said, there, was, still, demand, for, b...","[28, 38, 13, 38, 30, 37, 15, 16, 24, 15, 21, 2...","[11, 21, 11, 21, 22, 22, 13, 11, 12, 13, 11, 1...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3248,3248,"[The, DSE, all, share, price, index, closed, 2...","[12, 21, 12, 21, 21, 21, 38, 11, 24, 10, 11, 2...","[11, 12, 11, 12, 12, 12, 21, 11, 12, 0, 11, 12...","[0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3249,3249,"[--, Dhaka, Newsroom, 880-2-506363]","[8, 22, 22, 11]","[0, 11, 12, 12]","[0, 3, 4, 0]"

In [8]:
from web_project_pt1.preprocessing import TextProcessor

In [10]:
processor=TextProcessor(validation_dataset,"tokens")

In [11]:
dataset_processed=processor.preprocess_text_column()

In [12]:
dataset_processed

,id,tokens,pos_tags,chunk_tags,ner_tags,clean_text,lemmatized_tokens
0,0,"[cricket, leicestershire, take, over, at, top,...","[22, 8, 22, 22, 15, 22, 22, 22, 22, 21, 7]","[11, 0, 11, 12, 13, 11, 12, 12, 12, 12, 0]","[0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0]",cricket leicestershire take over at top after...,"[cricket, leicestershire, innings, victory]"
1,1,"[london, 19960830]","[22, 11]","[11, 12]","[5, 0]",london 19960830,"[london, 19960830]"
2,2,"[west, indian, allrounder, phil, simmons, took...","[22, 22, 21, 22, 22, 38, 11, 15, 11, 15, 22, 1...","[11, 12, 12, 12, 12, 21, 11, 13, 11, 13, 11, 1...","[7, 8, 0, 1, 2, 0, 0, 0, 0, 0, 0, 0, 3, 0, 3, ...",west indian allrounder phil simmons took four ...,"[west, indian, allrounder, phil, simmon, take,..."
3,3,"[their, stay, on, top, though, may, be, shortl...","[29, 21, 15, 21, 6, 30, 6, 20, 37, 16, 15, 21,...","[11, 12, 13, 11, 0, 3, 0, 21, 22, 1, 13, 11, 1...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, ...",their stay on top though may be shortlived a...,"[stay, shortlived, title, rival, essex, derbys..."
4,4,"[after, bowling, somerset, out, for, 83, on, t...","[15, 39, 22, 33, 15, 11, 15, 12, 21, 21, 15, 2...","[13, 11, 12, 15, 13, 11, 13, 11, 12, 12, 13, 1...","[0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 5, 6, 0, 3, ...",after bowling somerset out for 83 on the openi...,"[bowl, somerset, 83, opening, morning, grace, ..."
...,...,...,...,...,...,...,...
3245,3245,"[but, the, prices, may, move, in, a, close, ra...","[10, 12, 24, 20, 37, 15, 12, 16, 21, 39, 12, 4...","[0, 11, 12, 21, 22, 13, 11, 12, 12, 13, 11, 12...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",but the prices may move in a close range follo...,"[price, close, range, follow, continue, market..."
3246,3246,"[brokers, said, blue, chips, like, idlc, bangl...","[24, 38, 16, 24, 15, 22, 6, 22, 22, 6, 22, 22,...","[11, 21, 11, 12, 13, 11, 0, 11, 12, 0, 11, 12,...","[0, 0, 0, 0, 0, 3, 0, 3, 4, 0, 3, 4, 0, 3, 4, ...",brokers said blue chips like idlc bangladesh ...,"[broker, say, blue, chip, like, idlc, banglade..."
3247,3247,"[they, said, there, was, still, demand, for, b...","[28, 38, 13, 38, 30, 37, 15, 16, 24, 15, 21, 2...","[11, 21, 11, 21, 22, 22, 13, 11, 12, 13, 11, 1...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",they said there was still demand for blue chip...,"[say, demand, blue, chip, engineering, sector,..."
3248,3248,"[the, dse, all, share, price, index, closed, 2...","[12, 21, 12, 21, 21, 21, 38, 11, 24, 10, 11, 2...","[11, 12, 11, 12, 12, 12, 21, 11, 12, 0, 11, 12...","[0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",the dse all share price index closed 273 point...,"[dse, share, price, index, close, 273, point, ..."
3249,3249,"[dhaka, newsroom, 8802506363]","[8, 22, 22, 11]","[0, 11, 12, 12]","[0, 3, 4, 0]",dhaka newsroom 8802506363,"[dhaka, newsroom, 8802506363]"